<!--
  Copyrights reserved
  Written by Paul Hwang
*/
-->

<div id="go_root_html"></div>

<header>
    <script src="~/js/phwang_js/react_folder/react.js"></script>
    <script src="~/js/phwang_js/react_folder/react-dom.js"></script>
    <script src="~/js/phwang_js/phwang_folder/phwang_ajax_class.js"></script>
    <script src="~/js/phwang_js/phwang_folder/phwang_link_class.js"></script>
    <script src="~/js/phwang_js/phwang_folder/phwang_session_class.js"></script>
    <script src="~/js/phwang_js/phwang_folder/phwang_class.js"></script>
    <script src="~/js/phwang_js/go_folder/go_config_dir/go_config.js"></script>
    <script src="~/js/phwang_js/go_folder/go_config_dir/go_config_html.js"></script>
    <script src="~/js/phwang_js/go_folder/go_config_dir/go_config_root.js"></script>
</header>

